<!-- <h1>{{title}}</h1>
<h1>Installing bootstrap</h1>
<br>
<div>
  <p>What is Bootstrap?</p>
  <br>
  
  <p>Bootstrap is a free front-end framework for faster and easier web development</p>

  <p>Bootstrap includes HTML and CSS based design templates for typography, forms, buttons, tables, navigation, modals, image carousels and many other, as well as optional JavaScript plugins</p>

  <p>Bootstrap also gives you the ability to easily create responsive designs</p>
<button class="btn btn-primary">test</button>
</div> -->
<div>
<h1>THE FAKESORE</h1>
</div>
<router-outlet></router-outlet>